# Database
DATABASE_URL=

# Auth
AUTH_SECRET=
NEXTAUTH_SECRET=

# App
NEXT_PUBLIC_APP_NAME=Pokemon Store
NEXT_PUBLIC_APP_DESCRIPTION=A store for Pokemon products
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_APP_SECRET=
PAYPAL_API_URL=https://api-m.sandbox.paypal.com

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# UploadThing
UPLOADTHING_TOKEN=
UPLOADTHING_SECRET=
UPLOADTHING_APPID=

# Email
RESEND_API_KEY=
SENDER_EMAIL=

# Store settings
PAYMENT_METHODS=
DEFAULT_PAYMENT_METHOD=
ORDER_REPORT_TIME_ZONE=America/Toronto
UNPAID_ORDER_EXPIRE_MINUTES=60
